<div class="container header">
    <div class="row">
        <div class="col-6">
            <h3><i class="fa fa-file"></i> Relatório</h3>
        </div>
    </div>
    <hr>
</div>

<div class="animated fadeIn container-fluid" style=" margin-top: -20px;">
    <div class="card">
        <div class="card-body row">
            <div class="d-flex justify-content-left" style="width: 100%;">
                <!-- <div class="form-group">
                    <div class="d-flex justify-content-left"> -->
                <label class="col-form-label col-1" for="turma">Turma: </label>
                <select class="form-control col-3" id="turma" [(ngModel)]="busca.IdTurma">
                    <option value="{{t.IdTurma}}" *ngFor="let t of turma">{{t.Sigla}}</option>
                </select>
                <!--   </div>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-left"> -->
              

                <label class="col-form-label col-1" for="data" style="margin-left: 28px;">Data: </label>
                <input type="date" class="form-control col-2" name="data" [(ngModel)]="busca.DtAula">
                <div class="bt-pesquisa">
                    <button type="submit" class="btn btn-primary mb-2" (click)="buscar()">Pesquisar</button>
                    <button type="submit" class="btn btn-primary mb-2" (click)="limparInput()">Limpar</button>
                </div>
                <!--     </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="relatorio-lista" [ngClass]="{'show-component': listaRelatorio }">
        <relatorio-lista [relatorio]="relatorio"></relatorio-lista>
    </div>
    <div [ngStyle]="{display: !listaRelatorio ? 'none':'block' }">
            <div class="relatorio-lista" [ngClass]="{'show-component': msg }">
                <p>Não há registros que satisfaçam o critério de busca!</p>
            </div>
        </div>
</div>