<div class="container">
  <div class="card">
    <div class="card-body row">
      <div class="col-10 align-self-left ">
        <div class="form-group">
            <div class="d-flex justify-content-left">
                <label class="col-2 col-form-label" for="ra">Busca: </label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="inputBusca">
                <div class="bt-pesquisa">
                    <button class="btn btn-primary mb-2" (click)="onBuscar()">Pesquisar</button>
                    <button class="btn btn-primary mb-2" (click)="onLimparInput()">Limpar</button>
                </div>
            </div>
        </div>
        <ul class="list-group">
          <div
            class ="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let disciplina of filteredDisciplinas; let i = index">
            <a
              style="cursor: pointer"
              [routerLink]="['./', disciplina.IdDisciplina]">
              {{ disciplina.Sigla }}: {{ disciplina.Nome }}
            </a>
            <button class="btn btn-primary btn-sm" [routerLink]="['./addCurso', disciplina.IdDisciplina]">Ver Cursos</button>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
