<div class="container header">
    <h3>Professor</h3>
    <hr>
</div>

<div class="container">
    <div class="card">
        <div class="card-body row">
            <div class="col-10 align-self-left ">
                <form>
                    <div class="form-group">
                        <div class="d-flex justify-content-left">
                            <label class="col-sm-2 col-form-label" for="ra">RA: </label>
                            <input type="number" class="form-control" id="ra">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-left">
                            <label class="col-sm-2 col-form-label" for="nome">Nome: </label>
                            <input type="text" class="form-control" id="nome">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-left">
                            <label class="col-sm-2 col-form-label" for="curso">Departamento: </label>
                            <select class="form-control" id="curso">
                                <option></option>
                                <option>Bacharelado em Engenharia de Software</option>
                                <option>Engenharia da Computação</option>
                                <option>Engenharia de Controle e Automação</option>
                                <option>Engenharia Elétrica</option>
                                <option>Engenharia Eletrônica</option>
                                <option>Engenharia Mecânica</option>
                                <option>Licenciatura em Matemática</option>
                                <option>Tecnologia em Análise e Desenvolvimento de Sistemas</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary mb-2">Cadastrar</button>
    </div>
</div>