<div class="container header">
    <div class="lista-title d-flex align-items-center justify-content-between">
        <h1>Resultado da Busca</h1>
        <button type="submit" class="btn btn-outline-primary mb-2" (click)="exportAsXLSX()">Exportar Relatório</button>
    </div>
</div>

<div class="info-lista">
    <table class="table table-striped">
        <thead class="thead">
            <tr>
                <th>Turma</th>
                <th>RA</th>
                <th>Aluno</th>
                <th>Data da aula</th>
                <th>Quantidade de Presença</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of excel | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index">
                <td>{{item.Sigla}}</td>
                <td>{{item.Nome}}</td>
                <td>{{item.RA}}</td>
                <td>{{item.DtAula}}</td>
                <td>{{item.QtdPresenca}}</td>
            </tr>
        </tbody>
    </table>
    <div class="wrap-action">
        <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
    </div>
</div>