<div class="container header">
    <div class="lista-title d-flex align-items-center justify-content-between">
        <h1>Resultado da Busca</h1>
    </div>
</div>

<div class="info-lista">
    <table class="table table-striped">
        <thead class="thead"> 
            <tr>
                <th scope="col">RA</th>
                <th scope="col">Nome</th>
                <th scope="col">Curso</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of values">
                <td>{{v.RA}}</td>
                <td>{{v.Nome}}</td>
                <td>{{v.Curso.Nome}}</td>
                <td class="d-flex justify-content-around">
                    <div class="action-lista" (click)="editarAluno(v.IdAluno)"> 
                        <a><i class="fa fa-edit"></i> Editar</a>
                    </div>
                    <div class="action-lista" (click)="confirmar(v.IdAluno)"> 
                        <a><i class="fa fa-trash"></i> Excluir</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal-excluir" [ngClass]="{'show-modal': excluir }">
    <div class="box-modal">
        <p>Deseja realmente excluir esse Aluno?</p>
        <div class="action-modal">
            <button class="btn btn-primary mb-2" (click)="remover()">Sim</button>
            <button class="btn btn-outline-primary mb-2" (click)="cancelar()">Não</button>
        </div>
    </div>
</div>