<div class="container header" [ngStyle]="{display: cadtrDepartamentoDisciplina ? 'none':'block' }">
    <div class="row">
        <div class="col-6">
            <h3>Departamento</h3>
        </div>
        <div class="col-6" [ngStyle]="{display: cadtrDepartamento ? 'none':'block' }">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mb-2"
                    (click)="AdicionarDepartamento(true)">Adicionar</button>
            </div>
        </div>
    </div>

    <hr>
</div>

<div class="animated fadeIn container-fluid" style=" margin-top: -20px;">
    <div class="card" [ngStyle]="{display: cadtrDepartamento || cadtrDepartamentoDisciplina ? 'none':'block' }">
        <div class="card-body row">
            <div class="col-10 align-self-left ">
                <div class="form-group">
                    <div class="d-flex justify-content-left">
                        <label class="col-2 col-form-label" for="sigla">Sigla: </label>
                        <input type="text" class="form-control" id="sigla" [(ngModel)]="busca.Sigla" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-left">
                        <label class="col-2 col-form-label" for="nome">Nome: </label>
                        <input type="text" class="form-control" id="nome" [(ngModel)]="busca.Nome" autocomplete="off">

                        <div class="bt-pesquisa">
                            <button type="submit" class="btn btn-primary mb-2" (click)="buscar()">Pesquisar</button>
                            <button type="submit" class="btn btn-primary mb-2" (click)="limparInput()">Limpar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="departamento-cadastro" [ngClass]="{'show-component': cadtrDepartamento }">
    <departamento-cadastro [departamentoEdit]="departamentoEdit" (completed)="cadastroCallback($event)">
    </departamento-cadastro>
</div>
<div class="departamento-lista" [ngClass]="{'show-component': listaDepartamento }">
    <departamento-lista [departamento]="departamento" (editar)="editarDepartamento($event)">
    </departamento-lista>
</div>
<!-- <div class="departamento-vinculo" [ngClass]="{'show-component': cadtrdepartamentoDisciplina }">
    <departamento-disciplina [vinculo]="vinculo" (completed)="cadastroCallback($event)"></departamento-disciplina>
</div> -->
<div [ngStyle]="{display: cadtrDepartamento ? 'none':'block' }">
    <div class="departamento-lista" [ngClass]="{'show-component': msg }">
        <p>Não há registros que satisfaçam o critério de busca!</p>
    </div>
</div>