<mat-drawer-container>
    <mat-drawer #drawer class="sidenav" fixedInViewport="false"
        [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/']">Home</a>
            <a mat-list-item [routerLink]="['/aluno']">Aluno</a>
            <a mat-list-item [routerLink]="['/departamento']">Departamento</a>
            <a mat-list-item [routerLink]="['/professor']">Professor</a>
            <a mat-list-item [routerLink]="['/curso']">Curso</a>
            <a mat-list-item [routerLink]="['/disciplina']">Disciplina</a>
            <a mat-list-item [routerLink]="['/turma']">Turma</a>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <mat-toolbar color="primary">
            <!-- <mat-icon svgIcon="hamIcon" (click)="drawer.toggle()"></mat-icon> -->
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <!-- Welcome to {{title}} -->
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>