<div class=" row container">
    <div class="col-sm-8">
        <form>
            <div class="form-group">
                <label for="ra">RA:</label>
                <input type="number" class="form-control" id="ra">
            </div>
            <div class="form-group">
                <label for="nome">Nome Completo:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="curso">Curso</label>
                <select class="form-control" id="curso">
                    <option>Bacharelado em Engenharia de Software</option>
                    <option>Engenharia da Computação</option>
                    <option>Engenharia de Controle e Automação</option>
                    <option>Engenharia Elétrica</option>
                    <option>Engenharia Eletrônica</option>
                    <option>Engenharia Mecânica</option>
                    <option>Licenciatura em Matemática</option>
                    <option>Tecnologia em Análise e Desenvolvimento de Sistemas</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Imagem Facial do Aluno</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>