<div class="container">
    <div class="card">
        <div class="card-body row">
            <div class="col-10 align-self-left ">
                <form [formGroup]="form" >
                    <div class="form-group">
                        <div class="d-flex justify-content-left">
                            <label class="col-sm-2 col-form-label" for="ra">RA: </label>
                            <input type="number" class="form-control" name="raAluno" formControlName="RA"
                            [attr.disabled]="editando ? '' : null">  
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-left">
                            <label class="col-sm-2 col-form-label" for="nome">Nome: </label>
                            <input type="text" class="form-control" name="nomeAluno" formControlName="Nome">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-left">
                            <label class="col-sm-2 col-form-label" for="curso">Curso: </label>
                            <select class="form-control" name="cursoAluno" formControlName="IdCurso">
                                <option value="{{c.IdCurso}}" *ngFor="let c of curso">{{c.Nome}}</option>
                            </select>  
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex flex-column bd-highlight mb-3">
                            <div class="form-group">
                                
                                <input type="file" class="form-control-file" accept="image/*" id="uploadimagem"
                                (change)="uploadImage($event)" #fileInput>
                                <button type="submit" class="btn btn-primary" (click)="fileInput.click()">Adicionar Imagem</button>
                                <button type="submit" class="btn btn-primary" (click)="onUpload()"><i class="fa fa-upload"></i> Upload</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class=" bt-cadastro d-flex justify-content-end">
    <button type="submit" class="btn btn-primary mb-2" (click)="cadastrar(true)">Salvar</button>
    <button type="submit" class="btn btn-outline-primary mb-2" (click)="cadastrar(false)" >Cancelar</button>
</div>