
.header{
    margin-top: 50px;
}

.form-control {
    width: 40%;
}

.form-control .form-label {
    text-align: left;
}

.form-control-file, .form-control-range {
    display: block;
    width: 100%;
    padding-top: 12px;
}

.custom-file {
    margin-left: 148px;
}

.mb-2{
    margin-top: 25px;
    margin-right: 12px;
}

.bt-pesquisa{
    margin-top: -25px;
    padding-left: 30px;
}

.btn-primary{
    background-color: #3d21d2eb;
    border-color: #2700ff;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
