<div class="container">
  <div class="card">
    <div class="card-body row">
      <div class="col-10 align-self-left ">
        <div class="form-group">
            <div class="d-flex justify-content-left">
                <label class="col-2 col-form-label" for="ra">Busca: </label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="inputBusca">
                <div class="bt-pesquisa">
                    <button class="btn btn-primary mb-2" (click)="onBuscar()">Pesquisar</button>
                    <button class="btn btn-primary mb-2" (click)="onLimparInput()">Limpar</button>
                </div>
            </div>
        </div>

        <ul class="list-group">
          <a
            class="list-group-item"
            style="cursor: pointer"
            *ngFor="let curso of filteredCursos">
            {{ curso.id }}: {{ curso.name }}
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
